.quarto-title-block .quarto-title-banner {
  background-image: url("C:/Users/mklde/OneDrive/Documents/R stuff/Pollspain-data/chapters for the book/pollspain_icon.png" alt="Header Logo");
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

